.css_iddoctor_label { }
.css_iddoctor_line {text-align:left;}
.css_iddoctor_obj {text-align:left;}
.css_namedoctor_label { }
.css_namedoctor_line { }
.css_namedoctor_obj { }
.css_day1_label { }
.css_day1_line { }
.css_day1_obj { }
.css_day2_label { }
.css_day2_line { }
.css_day2_obj { }
.css_day3_label { }
.css_day3_line { }
.css_day3_obj { }
.css_day4_label { }
.css_day4_line { }
.css_day4_obj { }
.css_day5_label { }
.css_day5_line { }
.css_day5_obj { }
.css_speciality_idspeciality_label { }
.css_speciality_idspeciality_line {text-align:left;}
.css_speciality_idspeciality_obj {text-align:left;}
.css_node_order_label { }
.css_node_order_line {text-align:left;}
.css_node_order_obj {text-align:left;}
.css_treatments_idtreatments_label { }
.css_treatments_idtreatments_line {text-align:left;}
.css_treatments_idtreatments_obj {text-align:left;}
.css_login_label { }
.css_login_line { }
.css_login_obj { }
.css_hfri_label { }
.css_hfri_line { }
.css_hfri_obj { }
.css_hmon_label { }
.css_hmon_line { }
.css_hmon_obj { }
.css_hthu_label { }
.css_hthu_line { }
.css_hthu_obj { }
.css_htue_label { }
.css_htue_line { }
.css_htue_obj { }
.css_hwed_label { }
.css_hwed_line { }
.css_hwed_obj { }
