.css_title_label { }
.css_title_line { }
.css_title_obj { }
.css_descr_label { }
.css_descr_line { }
.css_descr_obj { }
.css_start_date_label { }
.css_start_date_line { }
.css_start_date_obj { }
.css_start_time_label { }
.css_start_time_line { }
.css_start_time_obj { }
.css_end_date_label { }
.css_end_date_line { }
.css_end_date_obj { }
.css_end_time_label { }
.css_end_time_line { }
.css_end_time_obj { }
.css_recurr_label { }
.css_recurr_line { }
.css_recurr_obj { }
.css_period_label { }
.css_period_line { }
.css_period_obj { }
.css_categ_label { }
.css_categ_line {text-align:left;}
.css_categ_obj {text-align:left;}
.css_recur_info_label { }
.css_recur_info_line { }
.css_recur_info_obj { }
.css_event_color_label { }
.css_event_color_line { }
.css_event_color_obj { }
.css_patients_idpatient_label { }
.css_patients_idpatient_line {text-align:left;}
.css_patients_idpatient_obj {text-align:left;}
.css_event_period_label { }
.css_event_period_line {text-align:left;}
.css_event_period_obj {text-align:left;}
.css_idevent_status_label { }
.css_idevent_status_line { }
.css_idevent_status_obj { }
.css_idevent_priority_label { }
.css_idevent_priority_line { }
.css_idevent_priority_obj { }
.css___calend_all_day___label { }
.css___calend_all_day___line { }
.css___calend_all_day___obj { }
