.css_login_label, .css_login_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_login_grid_line, .css_login_grid_line:hover {vertical-align: top;text-align: right;}
.css_usrname_label, .css_usrname_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_usrname_grid_line, .css_usrname_grid_line:hover {vertical-align: top;text-align: right;}
.css_email_label, .css_email_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_email_grid_line, .css_email_grid_line:hover {vertical-align: top;text-align: right;}
.css_usractive_label, .css_usractive_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_usractive_grid_line, .css_usractive_grid_line:hover {vertical-align: top;text-align: right;}
