.css_idnurse_label { }
.css_idnurse_line {text-align:left;}
.css_idnurse_obj {text-align:left;}
.css_namenurse_label { }
.css_namenurse_line { }
.css_namenurse_obj { }
.css_login_label { }
.css_login_line {text-align:left;}
.css_login_obj {text-align:left;}
