.css_idnurse_det_label, .css_idnurse_det_label:hover {text-align: left;vertical-align: middle;}
.css_idnurse_det_line, .css_idnurse_det_line:hover {height:0px;text-align: left;}
.css_namenurse_det_label, .css_namenurse_det_label:hover {text-align: left;vertical-align: middle;}
.css_namenurse_det_line, .css_namenurse_det_line:hover {height:0px;text-align: left;}
.css_login_det_label, .css_login_det_label:hover {text-align: left;vertical-align: middle;}
.css_login_det_line, .css_login_det_line:hover {height:0px;text-align: left;}
