.css_idnurse_label, .css_idnurse_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_idnurse_grid_line, .css_idnurse_grid_line:hover {vertical-align: top;text-align: right;}
.css_namenurse_label, .css_namenurse_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_namenurse_grid_line, .css_namenurse_grid_line:hover {vertical-align: top;text-align: right;}
.css_login_label, .css_login_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_login_grid_line, .css_login_grid_line:hover {vertical-align: top;text-align: right;}
